/* ----------- Darkmode ----------- */
@font-face {
  font-family: "darkmode";
  src: url("/fonts/Darkmode/Darkmode Light.ttf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "darkmode";
  src: url("/fonts/Darkmode/Darkmode Regular.ttf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "darkmode";
  src: url("/fonts/Darkmode/Darkmode Medium.ttf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "darkmode";
  src: url("/fonts/Darkmode/Darkmode Bold.ttf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "darkmode";
  src: url("/fonts/Darkmode/Darkmode XBold.ttf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}

@font-face {
  font-family: "darkmode";
  src: url("/fonts/Darkmode/Darkmode Black.ttf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

/* ----------- Effra ----------- */
@font-face {
  font-family: "effra";
  src: url("/fonts/Effra/Effra Light.ttf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "effra";
  src: url("/fonts/Effra/Effra Regular.ttf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "effra";
  src: url("/fonts/Effra/Effra Medium.ttf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "effra";
  src: url("/fonts/Effra/Effra SemiBold.ttf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "effra";
  src: url("/fonts/Effra/Effra Bold.ttf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "effra";
  src: url("/fonts/Effra/Effra XBold.ttf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}

@font-face {
  font-family: "effra";
  src: url("/fonts/Effra/Effra Black.ttf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

/* ----------- Lato ----------- */
@font-face {
  font-family: "lato";
  src: url("/fonts/Lato/Lato Medium.ttf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "lato";
  src: url("/fonts/Lato/Lato SemiBold.ttf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "lato";
  src: url("/fonts/Lato/Lato Bold.ttf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "lato";
  src: url("/fonts/Lato/Lato XBold.ttf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}

@font-face {
  font-family: "lato";
  src: url("/fonts/Lato/Lato Black.ttf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}
/* ----------- END OF FONTFACES ----------- */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #f8eded;

    --success: #1bcb21;

    --error: #f44336;

    --background: #13252a;

    --primary: #b43f3f;

    --primary-slanted: #8c2f2f;

    --secondary: #ff8225;

    --muted: #636363;

    --muted-light: #959595;

    --popover: 0, 0%, 96%;

    --darkmode: "darkmode", sans-serif;
    --effra: "effra", sans-serif;
    --lato: "lato", sans-serif;
  }
}

@layer base {
  html,
  body {
    @apply flex flex-col nav:flex-row min-h-screen bg-background scroll-smooth m-0 p-0 font-darkmode overflow-x-hidden min-w-full;
  }
}

@layer components {
  .title {
    @apply text-text font-effra text-4xl font-extrabold;
  }
  .subtitle {
    @apply text-text font-effra text-xl font-bold;
  }
  .text {
    @apply text-text font-darkmode text-base font-medium;
  }
  .number {
    @apply text font-lato;
  }
  .btn {
    @apply text px-10 py-2.5 rounded-[10px] flex flex-row justify-center items-center duration-300 transition-all;
  }
  .btn-primary {
    @apply bg-primary text-text hover:bg-[var(--primary-slanted)];
  }
  .btn-disabled {
    @apply bg-muted text-mutedLight cursor-default pointer-events-none;
  }
  .btn-simple {
    @apply bg-transparent text-text p-[14px_16px] border-2 border-text;
  }
  .transition-default {
    @apply transition-all duration-300;
  }

  .nav-link {
    @apply flex flex-row gap-3 items-center text font-effra text-xl font-medium;
  }
}

.form-item {
  position: relative;
  background-color: var(--background);
}

.form-item input,
.form-item textarea {
  padding: 15px 16px;
  height: 100%;
  width: 100%;
  outline: none;
  border-radius: 10px;
  z-index: 1;
  background-color: transparent;
  border-width: 2px;
  color: var(--text);
}

.form-item input:focus,
.form-item textarea:focus {
  outline: none;
  border-color: var(--primary);
}

.form-item label {
  position: absolute;
  top: 14px;
  display: flex;
  align-items: center;
  left: 18px;
  transition: 0.1s ease-in;
  font-size: 1rem;
  z-index: 0;
}

.form-item-translate label {
  top: 9px;
  left: 18px;
}

.form-item input:focus + label,
label.up,
.form-item textarea:focus + label {
  top: -15px;
  left: 15px;
  font-size: 0.8rem;
  background-color: inherit;
  padding: 2px 5px;
  z-index: 2;
  background-color: var(--background);
}

.zoom-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 2px;
  background: var(--primary);
  width: 100%;
}

.zoom-range::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--primary);
  background: var(--primary);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.zoom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--primary);
  background: var(--primary);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.controls:hover input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
  border-radius: 50%;
}

.controls:hover input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
}
